@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  background-color: #333;
  min-height: 100vh;
  padding-top: 20px;
  color: #f5f5fa;
  padding-bottom: 50px;
}

input {
  width: 80%;
  height: 40px;
  margin-top: 6px;
  padding-left: 6px;
  font-family: 'Montserrat';
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

button {
  width: 80%;
  height: 40px;
  background-color: #222;
  border: none;
  margin-top: 6px;
  border-radius: 4px;
  color: #f5f5fa;
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.results {
  margin-top: 10px;
  padding: 20px;
  padding-right: 20px;
}

.langDiv {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #222;
  border-radius: 10px;
  margin-top: 4px;
  font-family: 'Montserrat';
}

.totalDiv {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 4px;
  font-family: 'Montserrat';
  background-color: #151515;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalDiv strong {
  font-size: 20px;
}

.totalDiv small {
  font-size: 18px;
}
